.headerContainer {
  height: 110px;
  background-color: var(--santander);
  display: flex;
  align-items: flex-end;
  padding-bottom: 1.5rem;
  gap: 2.5rem;
  color: white;
}

.backLink {
  text-decoration: none;
  padding-left: 2rem;
  color: white;
  font-weight: 300;
}

.goToHomeButton {
  width: 80%;
  margin: auto;
  border: none;
  background-color: white;
  color: var(--santander);
  border: 1px solid var(--santander);
  height: 54px;
  border-radius: 16px;
  font-size: 1rem;
  font-weight:600
}

.buttonContainer {
  margin-top: 2rem;
  text-align: center;
}