:root {
    --santander: #ec0000;
    --boston: #cc0000;
    --ruby: #990000;
    --sky: #deedf2;
    --mediumSky: #cddee7;
    --darkSky: #9bc3d3;
    --lighterGrey: #f0f0f0;
    --lightGrey: #cccccc;
    --mediumGrey: #767676;
    --darkGrey: #444444;
    --darkerGrey: #222222;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  background-color: var(--darkerGrey);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
